.navbar-default {
    background-color: transparent;
    border-color:transparent;
    background-image: none;
    box-shadow: none;
    padding-top: 10px;
}

.navbar-brand {
    margin: auto;
}

.container {
    padding-top: 50px;
}
.container .row {
    margin: 20px;
}

.container-fluid {
    display: flex;
    text-align: center;
    padding-top: 5px;
}

a {
    color: black;
    font-weight: bold;
}

.cart {
    text-align: left;
}

.nav>li {
    display: inline;
}

.cart {
    float: left;
}

.CentralNav {
    float: right;
}

.headerInner {
    display: flex;
    text-align: center;
}

a#logo {
    order: 2;
}

a#cart {
    order: 1;
}

li#CentralNav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}